
/* CARTA */
.card__header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center; /* Opcional, para centrar verticalmente */
    background-color: #f8e861;
    color: black;
    font-size: 20px;
}

.card_deleteButton{
    /* background-color: #c52f21; */
    background: transparent;
    padding: 4px;
    border: none;
}

.card_deleteButton:hover{
    background-color: #e7d740;
}


.carta-contactos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    
}

.carta-contactos .card:first{
    background-color: red;
}