body {
    background-color: #23272e;
    color: rgb(253, 255, 232);
    font-family: monospace;
}


.titulo {
    font-size: 30px;
}

.tabla {
    border-collapse: collapse;
    border: 2px solid rgb(220, 238, 178);
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

caption {
    caption-side: top;
    padding: 10px;
    font-weight: bold;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

.botonEliminar{
    background-color: rgb(231, 129, 129);
    font-size: 17px;
    border-radius: 13px;
}

.botonEliminar:hover{
    background-color: black;
    color: rgb(233, 255, 204);
}


.section-formulario {
    padding-top: 30px;
}

.formulario {
    font-size: 20px;
    display: table;
    display: table-row;
}


label,
input {
    display: table-cell;
    margin-bottom: 10px;
    font-size: 20px;
}

label {
    padding-right: 10px;
}

.botonGuardar {
    margin-left: 10px;
    font-size: 20px;
}